<div class="w3-row-padding w3-large ">
    <form class="request-form w3-animate-top" action="/subscribeReq" method="post">
        <div>
            <label>Name</label> <small>*required</small>
            <input class="w3-input w3-border" name="name" type="text" placeholder="Jane Doe" required>
        </div>
        <div>
            <label>Postal Code</label> <small>*required</small>
            <input class="w3-input w3-border w3-block" name="zipcode" type="text" placeholder="eg. 10771" required>
        </div>     

        <div>
            <label>Help Genre</label> <small>*required</small>
            <div class="w3-dropdown-hover w3-block">
                <select class="w3-select" name="option" required >
                    <option value="" disabled selected>Choose one or click other</option>
                    <option value="1">Grocery Shopping</option>
                    <option value="2">Babysitting</option>
                    <option value="3">Run Errands</option>
                    <option value="4">Friendly Chat</option>
                    <option value="5">Other</option>
                </select>
            </div>
        </div>


        <div>
            <label>Date</label>
            <input class="w3-block" type="date" name="date">
        </div>  
        <div>
            <label>Duration</label>
            <div class="w3-block">
                <input class="w3-third" type="time" id="appt" name="durafrom">
                <p class="w3-third w3-center" style="margin:0;">to</p>
                <input class="w3-third" type="time" id="appt" name="durato">
            </div>
        </div>
        <div>
            <label>Message</label>
            <textarea class="w3-input w3-border" name="message" placeholder="Provide more detail..."></textarea>
        </div>
        <div>
            <input class="button w3-button w3-black w3-block" style="margin:20px 0" type="submit" value=<%=buttonText%>>
        </div>
    </form>
</div>