<div id="navbar">
    <div class="w3-right">
        <a href="/">Home</a>
        <a href="/volunteer">Volunteer</a>
        <a href="/requester">Requester</a>
        <a href="/locate/helpee&volunteer/allcategory">Locate</a>
    </div>
</div>