<div id="navbar">
    <div class="w3-right">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Log In</a>
        <a href="/volunteer/noUser">Volunteer</a>
        <a href="/requester/noUser">Requester</a>
        <a href="/locate/helpee&volunteer/allcategory">Locate</a>
        <a href="/admin">Admin</a>
        <a href="/volunteers">All Volunteers</a>
        <a href="/requesters">All Requesters</a>
    </div>
</div>