<div id="navbar">
        <div class="w3-right">
            <a href="/">Home</a>
    <% if (userId) { %>       
            <a href="/logout">Log Out</a>
            <a href="/profile?userId=<%=userId%>">Profile</a>
            <a href="/volunteer?userId=<%=userId%>">Volunteer</a>
            <a href="/requester?userId=<%=userId%>">Requester</a>
            <a href="/locate/helpee&volunteer/allcategory">Locate</a>
            <a href="/admin">Admin</a>
            <a href="/volunteers">All Volunteers</a>
            <a href="/requesters">All Requesters</a>
    <% }else{ %>
            <a href="/register">Register</a>
            <a href="/login">Log In</a>
            <a href="/locate/helpee&volunteer/allcategory">Locate</a>
    <% }%>
        <a href="/admin">Admin</a>
    </div>
</div>