<div class="w3-sidebar w3-bar-block" style="position: relative; margin: 60px 0 0 25px; width:15%; height: auto; background: transparent;">
    <a href="/profile" class="w3-bar-item ">Account Info</a>
    <a href="/yourRequests" class="w3-bar-item">Your Requests</a>
    <a href="/acceptedRequests" class="w3-bar-item">Accepted Requests</a>
    <a href="/chat" class="w3-bar-item ">Chat</a>
</div>