<div class="container">
    <h1>Chat</h1>
    <form id="chatForm">
        <input id="chat-input" type="text">
        <% if (currentUser) { %>
            <input id="chat-user-id" type="hidden" value="<%=currentUser._id %>">
            <input id="chat-user-name" type="hidden" value="<%=currentUser.fullName %>">
            <% }else{ %>
                <input id="chat-user-name" type="hidden" value="Stranger">
                <input id="chat-user-id" type="hidden" value="id">
                <% } %>
                    <input type="submit" value="Send">
    </form>
    <div id="chat" style="border:double; height:80vh; width: 100%"></div>
</div>