<div class="form-container  w3-jumbo">
    <% if (error) { %>
        <div class="alert alert-danger" role="alert" style="font-size:14px !important; height:70px!important">
            <%=error%>
        </div>
        <% } %>
            <h1 class="w3-jumbo w3-animate-top" style="text-align: left;" id="headline">I HAVE AN<br/>ACCOUNT</h1>
            <hr class="w3-border-grey" style="margin: auto; width: 100%;" />

            <%- include('partials/formLogin',{ buttonText: "Login" ,submitAction: "/loginAction"}) %>
</div>