<div class="form-container w3-jumbo">
    <h1 class="w3-jumbo w3-animate-top" style="text-align: left;" id="headline">
        <%=user.fullName%>'s Profile
    </h1>
    <hr class="w3-border-grey" style="margin: auto;" />

    <div style="width: 100vw; position: absolute; left: 10vw; display:flex; flex-direction: horizontal;">

        <%- include('showUserFields',{ user:user }) %>

    </div>
</div>