<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    <a href="#" class="w3-bar-item w3-button">Account Info</a>
    <a href="#" class="w3-bar-item w3-button">Your Requests</a>
    <a href="#" class="w3-bar-item w3-button">Chat</a>
</div>
<div class="form-container w3-jumbo" style="width:85% !important; margin-left:15% !important;">

    <h1 class="w3-jumbo w3-animate-top" style="text-align: left; width:85% !important; margin-left:15% !important;" id="headline">
        <%=user.fullName%>'s Profile
    </h1>
    <hr class="w3-border-grey" style="width:70% !important; margin-left:15% !important;" />

    <div style="width:85% !important; margin-left:15% !important; position: absolute;  display:flex; flex-direction: horizontal;">

        <%- include('showUserFields',{ user:user }) %>

    </div>
</div>