<div class="container">
    <div class="w3-dropdown-hover w3-block"></div>
    <div>
      <form action="/subscribe" method="post" style="font-size: small;">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" />
        <br />
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" />
        <br />
        <label for="zipcode">Zip Code</label>
        <input type="number" name="zipcode" placeholder="12345" />
        <br />
        <input
          style="margin: 20px 0;"
          class="button"
          name="submit"
          type="submit"
        />
      </form>
    </div>
  </div>


  <div>
    <label>Help Genre</label> <small>*required</small>
    <div class="w3-dropdown-hover w3-block">
        <select class="w3-select" name="option" required name="selction">
            <option value="" disabled selected>Choose one or click other</option>
            <option value="1">Grocery Shopping</option>
            <option value="2">Babysitting</option>
            <option value="3">Run Errands</option>
            <option value="4">Friendly Chat</option>
            <option value="5">Other</option>
        </select>
    </div>
</div>


<div>


    <label>Date</label>
    <input class="w3-block" type="date" name="date">
</div>
<div>
    <label>Duration</label>
    <div class="w3-block">
        <input class="w3-third" type="time" id="appt" name="appt">
        <p class="w3-third w3-center" style="margin:0;">to</p>
        <input class="w3-third" type="time" id="appt" name="appt">
    </div>
</div>