<div class="form-container  w3-jumbo">
    <h1 class="w3-jumbo w3-animate-top" style="text-align: left;" id="headline">
        OFFER TO<br />VOLUNTEER
    </h1>
    <hr class="w3-border-grey" style="margin: auto; width: 100%;" />
    <div class="container">
        <div class="w3-dropdown-hover w3-block">         
        </div>
        <div >          
          <form action="/subscribe" method="post" style="font-size: small;">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
            <br>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">
            <br>
            <label for="zipcode">Zip Code</label>
            <input type="number" name="zipcode" placeholder="12345">
            <br>
            <input style="margin:20px 0" class="button" name="submit" type="submit" >
          </form>
          
        </div>
      </div>
      
</div>