body {
    background-color: indigo;
}

h1 {
    font-family: "Raleway", sans-serif;
}

body,
html {
    height: 100%;
}

.flash {
    background: rgba(103, 120, 209, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    top: 110px;
}

.bgimg {
    /* background-image: url("../images/kiezhelp_bg.jpg"); */
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#footer {
    color: #f2f2f2;
}

.index-container {
    width: 400px;
    margin: auto;
    padding-top: 250px;
}


/* #aboveMap {
width: 60%;
margin: auto;
margin-bottom: 20px;
} */

@media only screen and (max-width: 600px) {
    .index-container {
        width: 90% !important;
        margin: auto;
        padding-top: 100px;
    }
    #headline {
        font-size: 30px !important;
    }
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a:hover {
    color: #954cad !important;
}

small {
    color: yellow;
}

.form-container {
    width: 400px;
    margin: auto;
    padding-top: 130px;
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 90% !important;
        margin: auto;
        padding-top: 0px;
    }
    #headline {
        font-size: 30px !important;
    }
}

#map {
    height: 600px;
    width: 100%;
    color: black;
}

#aboveMap {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 150px;
}

@media only screen and (max-width: 600px) {
    #aboveMap {
        width: 90%;
        padding-top: 20px;
    }
    #headline {
        font-size: 30px !important;
    }
}

.subscriber {
    font-size: 12px;
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
}

.flash .error {
    background: red;
}

